<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BoletoViewDlg" widgetVar="BoletoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBoletoTitle}">
            <h:form id="BoletoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{boletoController.selected != null}">
                        <h:outputText value="#{bundle.ViewBoletoLabel_id}"/>
                        <h:outputText value="#{boletoController.selected.id}" title="#{bundle.ViewBoletoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBoletoLabel_arquivo}"/>
                        <h:outputText value="#{boletoController.selected.arquivo}" title="#{bundle.ViewBoletoTitle_arquivo}"/>
                        <h:outputText value="#{bundle.ViewBoletoLabel_vencimento}"/>
                        <h:outputText value="#{boletoController.selected.vencimento}" title="#{bundle.ViewBoletoTitle_vencimento}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBoletoLabel_clienteId}"/>
                        <h:outputText value="#{boletoController.selected.clienteId}" title="#{bundle.ViewBoletoTitle_clienteId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BoletoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
