<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
<title>Today's Daily Deal</title>
<link href="./css/styles.css" 
      rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
<div align="center">
<h1 class="title">Today's Daily Deal</h1>
<h2>Today's daily book deal is
<i>#{dealBean1.todaysDeal.title}</i> at a rock-bottom
price of $#{dealBean1.todaysDeal.price}.</h2>

<fieldset>
<legend>Use Business Logic to Find Results</legend>
<h:form>
<h:panelGrid columns="2" styleClass="formTable">
  Account ID: 
  <h:inputText value="#{dealBean1.accountId}"/>

  Number to Purchase: 
  <h:inputText value="#{dealBean1.countString}"/>
</h:panelGrid>
<h:commandButton value="Purchase" 
                 action="#{dealBean1.buyDailyDeal}"/>
</h:form>
</fieldset>
</div>
</h:body></html>