<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
<title>Registration Success</title>
<link href="./css/styles.css" 
      rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
<div align="center">
<h1 class="title">Successfully Registered</h1>
<ul class="aligned">
  <li>First name: #{registrationBean.firstName}</li>
  <li>Last name: #{registrationBean.lastName}</li>
  <li>Email address: #{registrationBean.emailAddress}</li>
</ul>
</div>
</h:body></html>