<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <head>
        <title>Message Me</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    </head>
    <body>
        <h:body>
            <h:form>
                Content:<h:inputText value="#{index.message.content}"/>
                <br/>
                <h:commandButton value="Save" action="#{index.save}"/>
            </h:form>
        </h:body>
    </body>
</html>
