<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<!--  This version of the template file has some explanation in comments.
      Once you know what you are doing, start by copying and renaming
      the simple version of the template file, not this one. -->
<h:head>
<title>Your Title Here</title>
<!--  The "link" tag below assumes you have styles.css in WebContent/css/
      and that you put the .xhtml file in the main WebContent folder,
      not in WebContent/samples. -->
<link href="./css/styles.css" 
      rel="stylesheet" type="text/css"/>  
</h:head>
<h:body>
<h1>Your Heading Here</h1>
<!-- Other HTML tags and non-input JSF elements here -->

<h:form>
  <!-- This means bean named "yourBean" must have getYourProperty and setYourProperty -->
  <h:inputText value="#{yourBean.yourProperty}"/>
  
  <!-- This means bean named "yourBean" must have method named "yourActionController" that
       takes no arguments and returns a String -->
  <h:commandButton value="Click Me" action="#{yourBean.yourActionController}"/>
</h:form>

<!-- Other HTML tags and non-input JSF elements here -->
</h:body></html>