<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

    <head>
        <title>Signup account</title>
    </head>
    <body>
        <h:form prependId="false">
            <h1>Signup Account</h1>
             <p>Name <h:inputText id="name" value="#{flowScope.name}" /></p>
             <p>Surname: <h:inputText id="surname" value="#{flowScope.surname}" /></p>
             <p>Email: <h:inputText id="email" value="#{flowScope.email}" /></p>      
   
            <p><h:commandButton id="page2" value="next" action="signup2" /></p>

        </h:form>
    </body>
</html>
