<?xml version='1.0' encoding='UTF-8'?>
 
 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html">

    <head>
        <title>Last page in the flow</title>
    </head>
    <body>

        <h1>Registration completed!</h1>
         <p>Name: #{flowScope.name}</p>
         <p>Surname: #{flowScope.surname}</p>

        <h:form prependId="false">
            <p><h:commandButton id="back" value="back" action="signup2" /></p>
            <p><h:commandButton id="home" value="home" action="homePage" /></p>
            <p><h:commandButton id="call2" value="Enter Flow2" action="callSettingsFlow" /></p>

        </h:form>
    </body>
</html>
