<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Biblioteca</title>
    </h:head>
    <h:body>
        <h:form>
            Titulo do livro: <h:inputText id="titulo" value="#{incluirLivro.titulo}" />
            <br />
            <h:commandButton value="Incluir" action="#{incluirLivro.incluir}" />
        </h:form>
    </h:body>
</html>

