<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Livro</title>
    </head>
    <body>
        <div>Livro</div>
        <div>Autor: #{livroManagedBean.selected.autor.nome}</div>
        <div>Título: #{livroManagedBean.selected.titulo}</div>
        <div>I.S.B.N. #{livroManagedBean.selected.isbn}</div>
        <div>Etiqueta #{livroManagedBean.selected.etiqueta}</div>
        <hr />
        <h:form>
            <h:messages />
            <h:panelGrid columns="2">
                <h:outputLabel for="autor" value="Autor:" />
                <h:inputText id="autor" value="#{livroManagedBean.selected.autor.nome}" label="Autor" />
                <h:outputLabel for="titulo" value="Título:" />
                <h:inputText id="titulo" value="#{livroManagedBean.selected.titulo}" label="Título"  />
                <h:outputLabel for="isbn" value="I.S.B.N.:" />
                <h:inputText id="isbn" value="#{livroManagedBean.selected.isbn}" label="I.S.B.N."  />
                <h:outputLabel for="etiqueta" value="Etiqueta:" />
                <h:inputText id="etiqueta" value="#{livroManagedBean.selected.etiqueta}" label="Etiqueta"  />
                <h:commandButton action="#{livroManagedBean.saveLivro}" value="Save" />
            </h:panelGrid>
        </h:form>
    </body>
</html>
