<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view>
        <f:metadata>
            <f:viewParam name="flag" value="#{viewActionBean.flag}"/>
            <f:viewAction action="#{viewActionBean.init()}"/>
        </f:metadata>
        <h:head>
            <title>View Action</title>
            <meta name="viewport" content="width=device-width" />
        </h:head>
        <h:body>
            <p> View Action</p>
        </h:body>
    </f:view>
</html>
<!--
http://hantsy.blogspot.com.br/2013/08/jsf-22-view-action.html?m=1
-->