<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BoletoEditDlg" widgetVar="BoletoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBoletoTitle}">
            <h:form id="BoletoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{boletoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBoletoLabel_id}" for="id" />
                        <p:inputText id="id" value="#{boletoController.selected.id}" title="#{bundle.EditBoletoTitle_id}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_arquivo}" for="arquivo" />
                        <p:inputText id="arquivo" value="#{boletoController.selected.arquivo}" title="#{bundle.EditBoletoTitle_arquivo}" />
                        <p:outputLabel value="#{bundle.EditBoletoLabel_vencimento}" for="vencimento" />
                        <p:calendar id="vencimento" pattern="MM/dd/yyyy HH:mm:ss" value="#{boletoController.selected.vencimento}" title="#{bundle.EditBoletoTitle_vencimento}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_vencimento}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_clienteId}" for="clienteId" />
                        <p:selectOneMenu id="clienteId" value="#{boletoController.selected.clienteId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"
                                           var="clienteIdItem"
                                           itemValue="#{clienteIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{boletoController.update}" value="#{bundle.Save}" update="display,:BoletoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BoletoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BoletoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
