<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteEditDlg" widgetVar="ClienteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClienteTitle}">
            <h:form id="ClienteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clienteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClienteLabel_id}" for="id" />
                        <p:inputText id="id" value="#{clienteController.selected.id}" title="#{bundle.EditClienteTitle_id}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_cpf}" for="cpf" />
                        <p:inputText id="cpf" value="#{clienteController.selected.cpf}" title="#{bundle.EditClienteTitle_cpf}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_cpf}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{clienteController.selected.nome}" title="#{bundle.EditClienteTitle_nome}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_nome}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_email}" for="email" />
                        <p:inputText id="email" value="#{clienteController.selected.email}" title="#{bundle.EditClienteTitle_email}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clienteController.update}" value="#{bundle.Save}" update="display,:ClienteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClienteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClienteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
