<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <h:form>

        <label  for="Last Name">Last Name</label>
        <h:inputText  id="lastName"  p:placeholder="Last Name"
                      value="#{editCustomersBeanService.customers.lastname}"/>

        <ui:repeat var="phone" value="#{editCustomersBeanService.customers.phone}"   varStatus="status">
            <label  for="phones">Phone: [#{status.index}]</label>

            <h:selectOneMenu     value="#{phone.phoneType}">
                <f:selectItems  value="#{editCustomersBeanService.phoneTypeList}"
                                itemLabel="#{editCustomersBeanService.phoneType}"
                                itemValue="#{editCustomersBeanService.phoneType}"/>
            </h:selectOneMenu>
            <h:inputText class=" form-control" value="#{phone.teleNumbers}" />
        </ui:repeat>

        <h:commandLink  value="Save"   action="#{editCustomersBeanService.updatedCustomers()}"  />

    </h:form>

</body>
</html>
