<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

      <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="Flashe Boletos"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="IndexForm">
                <p:panel header="Acme Pools Customer Listing">
                    <p:dataTable id="datalist" value="#{clienteController.items}" 
                                 var="cliente"    
                                 paginator="true"
                                 rowKey="#{cliente.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Identificação do cliente"/>
                            </f:facet>
                            <h:outputText value="#{cliente.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nome"/>
                            </f:facet>
                            <h:outputText value="#{cliente.nome}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Email"/>
                            </f:facet>
                            <h:outputText value="#{cliente.email}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>


</html>

